# Ignore compiled Python files
*.pyc
__pycache__/
.env

# Ignore the virtual environment directory
venv/
env/

# Ignore the Django migration files
*/migrations/

# Ignore local settings file
*/settings_local.py

# Ignore database file
*.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore temporary files
*.log
*.swp

# Ignore IDE files
.vscode/
.idea/

# Ignore package manager directories
node_modules/
